<script>
  import { getId, getBooleanFrom } from './utils/utils.js'
  import Row from './Row.svelte'
  import { i18nTranslate } from './utils/i18n.js'
  export let clazz ='', fading=true, i18n, icon, id, indented=false, inline=false, label='', node, maximize=false, style=''

  maximize = getBooleanFrom(maximize)
  inline = getBooleanFrom(inline)
  indented = getBooleanFrom(indented)
  id = id || getId()
  
  if (maximize) clazz += ' maximize'

  if (label) label = i18nTranslate(RED, node, i18n, label)
  $: { 
    if (label) {
      label = i18nTranslate(RED, node, i18n, label) 
    }
  }
</script>

<style>
  :global(.sir-Button-Group) {
    display: inline-flex;
  }
  :global(.sir-Button-Group > .sir-Button-Container:not(:last-child)) {
    margin: 0px;
  }
  :global(.sir-Button-Group button) {
    border-radius: 0px;
    border-left: 0px;
  }
  :global(.sir-Button-Group .sir-Button-Container:first-of-type button) {
    border: 1px solid var(--red-ui-form-input-border-color);
  }
</style>

<Row id="sir-Button-Group-{id}" clazz="{clazz} sir-Button-Group" {inline} {fading} {style}>
  {#if label}
    <!-- svelte-ignore a11y-label-has-associated-control -->
    <label on:mouseenter on:mouseleave>
      {#if icon}<i class="fa fa-{icon}"></i>{/if} {label}
    </label>
  {:else if indented}
  <!-- svelte-ignore a11y-label-has-associated-control -->
  <label style="pointer: cursor: initial;"></label>
  {/if}
  <slot />
</Row>
