<script>
  import { getId, getBooleanFrom, initInternal, getNewInternal, setTooltip } from './utils/utils.js'
  import { createEventDispatcher, onMount } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js'

  export let credentials=false, disabled=false, error=false, i18n, icon, id, indented=false, label, labelBeforeCheckbox=false, maximize, node, placeholder, prop, tooltip, type, value
  
  id = id || getId(prop)
  credentials = getBooleanFrom(credentials)
  indented = getBooleanFrom(indented)
  disabled = getBooleanFrom(disabled)
  error = getBooleanFrom(error)
  labelBeforeCheckbox = getBooleanFrom(labelBeforeCheckbox)
  
  const inputFieldId = 'node-input-' + id
  let defaults = {}
  if (node) {
    defaults = credentials ? node._def.credentials : node._def.defaults
  }
  let internal = initInternal(defaults[prop], value)

  // Credentials is a special case, which only occurs in Input field. Therefore we won't put the initialization of them in initInternal.
  if (credentials && node.credentials[prop]) {
    internal.value = node.credentials[prop]
  }
  // If credential is type password and has an old value we won't get that value in the editor.
  // Instead there is a "has_"+prop flag to differentate if the UI should show an empty input field or with an value.
  // If the value is "__PWRD__" the value will not be saved/changed till deploy in node.credentials[prop].
  // https://github.com/node-red/node-red/blob/master/packages/node_modules/%40node-red/editor-client/src/js/ui/editor.js
  if (internal.updateNode && credentials && node.credentials['has_' + prop]) {
    internal.value = "__PWRD__"
  }
  icon = icon || defaults[prop]?.icon || ''
  if (label !== false) {
    label = label || defaults[prop]?.label || prop || ''
  }
  placeholder = placeholder || defaults[prop]?.placeholder || ''
  if (!type) {
    let testValue = typeof defaults[prop] !== 'undefined' ? defaults[prop].value : internal.value
    if (typeof testValue === 'number') {
      type = 'number'
    } else if (typeof testValue === 'boolean') {
      type = 'checkbox'
    } else {
      type = 'text'
    }
  }

  // delay creation of tooltips as this needs jQuery and can be called often
  let init = true
  let tooltipExists = false
  onMount(() => {
    setTimeout(() => init = false, 1000)
  })

  const dispatch = createEventDispatcher()
  $: {
    internal = getNewInternal(node?.[prop], value, internal, defaults?.[prop]?.validate, error, node)
    if (internal.updateNode) {
      node[prop] = internal.value
    } else {
      value = internal.value
    }
    if (!internal.init && internal.valueHasChanged) {
      dispatch('change', { id, value: internal.value }, { cancelable: false })
    }
    internal.init = false
  }
  $: {
    if (label) label = i18nTranslate(RED, node, i18n, label) 
  }
  $: {
    if (placeholder) placeholder = i18nTranslate(RED, node, i18n, placeholder) 
  }

  $: {
    if (!init && (tooltip || tooltipExists)) tooltipExists = setTooltip(tooltip, tooltipExists, '#sir-Input-Label-' + id)
  }
</script>

<style>
  .maximize { width: 100% !important; }
  .clickable { cursor: pointer;}
</style>

{#if !internal.updateNode || prop}
  {#if (type !== 'checkbox' && label) || (type === 'checkbox' && label && labelBeforeCheckbox)}
    <label id={"sir-Input-Label-" + id} on:mouseenter on:mouseleave for={inputFieldId}>
      {#if icon}<i class="fa fa-{icon}"></i>{/if} {label}
    </label>
  {:else if indented}
    <!-- svelte-ignore a11y-label-has-associated-control -->
    <label style="pointer: cursor: initial;"></label>
  {/if}
  {#if type === 'text'}
    <input id={inputFieldId} {placeholder} {disabled} bind:value={internal.value} class:maximize class:input-error={internal.isError} type="text" on:mouseenter on:mouseleave on:keypress on:keydown on:click|preventDefault|stopPropagation on:input on:focus on:blur>
  {:else if type === 'number'}
    <input id={inputFieldId} {placeholder} {disabled} bind:value={internal.value} class:maximize class:input-error={internal.isError} type="number" on:mouseenter on:mouseleave on:keypress on:keydown on:click|preventDefault|stopPropagation on:input on:focus on:blur>
  {:else if type === 'password'}
    <input id={inputFieldId} {placeholder} {disabled} bind:value={internal.value} class:maximize class:input-error={internal.isError} type="password" on:mouseenter on:mouseleave on:keypress on:keydown on:click|preventDefault|stopPropagation on:input on:focus on:blur>
  {:else if type === 'email'}
    <input id={inputFieldId} {placeholder} {disabled} bind:value={internal.value} class:maximize class:input-error={internal.isError} type="email" on:mouseenter on:mouseleave on:keypress on:keydown on:click|preventDefault|stopPropagation on:input on:focus on:blur>
  {:else if type === 'url'}
    <input id={inputFieldId} {placeholder} {disabled} bind:value={internal.value} class:maximize class:input-error={internal.isError} type="url" on:mouseenter on:mouseleave on:keypress on:keydown on:click|preventDefault|stopPropagation on:input on:focus on:blur>
  {:else if type === 'color'}
    <input {disabled} bind:value={internal.value} style="max-width: 30px; cursor: pointer;" class:input-error={internal.isError} type="color" on:input on:click>
    <input id={inputFieldId} {placeholder} {disabled} bind:value={internal.value} class:maximize class:input-error={internal.isError} type="text" on:mouseenter on:mouseleave on:keypress on:keydown on:input on:focus on:blur>
  {:else if type === 'checkbox'}
    <div class="checkbox">
      <input id={inputFieldId} {disabled} bind:checked={internal.value} class:input-error={internal.isError} type="checkbox" on:mouseenter on:mouseleave on:keypress on:keydown on:click on:input on:focus on:blur>
        {#if label && !labelBeforeCheckbox}
          <label on:mouseenter on:mouseleave for={inputFieldId} style="width: 100%">{#if icon}
            <i class="fa fa-{icon}"></i>{/if} {label}
          </label>
        {/if}
    </div>
  {:else if type === 'search'}
    <div class="red-ui-searchBox-container red-ui-searchBox-compact" class:maximize>
      <i class="fa fa-search" />
      <input id={inputFieldId} placeholder={placeholder || 'search'} {disabled} bind:value={internal.value} class="red-ui-searchBox-input"  class:maximize class:input-error={internal.isError} type="text" on:mouseenter on:mouseleave on:keypress on:keydown on:click|preventDefault|stopPropagation on:input on:focus on:blur>
      {#if internal.value}
        <i class="fa fa-times clickable" on:click|preventDefault|stopPropagation={() => internal.value = ''} on:keydown={() => internal.value = ''}/>
      {/if}
    </div>
  {:else}
    <span>Error: Unsupported property type '{type}'.</span>
  {/if}
{:else}
  <span class="maximize">Error: No property name given.</span>
{/if}
