<script>
  import { onDestroy, tick } from 'svelte'
  import Button from './Button.svelte'
  import { fade } from 'svelte/transition'
  import {getId, getBooleanFrom} from './utils/utils.js'
  export let button=true, clazz='', closeOtherPopovers=true, disabled=false, icon, id, label, modal=true, showPopover=false, small=false, style='', tooltip

  id = id || getId()
  small = getBooleanFrom(small)
  modal = getBooleanFrom(modal)
  disabled = getBooleanFrom(disabled)
  showPopover = getBooleanFrom(showPopover)

  function handle_keydown (e) {
		if (e.key === 'Escape') return close()
	}

	const close = () => {
    showPopover = false
    clazz = clazz.replace(' sir-Popover-open', '')
    window.removeEventListener('click', close)
    window.removeEventListener('keydown', handle_keydown)
  }

	const previously_focused = typeof document !== 'undefined' && document.activeElement;
	if (previously_focused) {
		onDestroy(() => previously_focused.focus())
	}
  if (style && !style.endsWith(';')) style += '; '
  let popoverStyle = ''
  const togglePopover = async () => {
    const thisPopoverIsOpen = !!document.getElementById('sir-Popover_' + id)
    // popover closed through other popover, than it can be true and svelte won't react if set to true again
    showPopover = false
    await tick()
    showPopover = !thisPopoverIsOpen
    // close (all) other popovers to prevent opening two not modal popovers... 
    // this is only needed if someone makes a popover in a popover...
    if (closeOtherPopovers) {
      document.querySelectorAll('[id^="sir-Popover_"]').forEach(popover => popover.remove())
    }
    await tick()    
    if (showPopover) {
      popoverStyle = ''
      popoverStyle = style + ' top: 0px; left: 0px;'
      await tick()
      const button = document.getElementById('sir-PopoverButton_' + id)
      const buttonDOMRect = button?.getBoundingClientRect()
      const popoverDOMRect = document.getElementById('sir-Popover_' + id)?.getBoundingClientRect()
      let top = buttonDOMRect.top - popoverDOMRect.height
      if (top < 0) {
        top = buttonDOMRect.bottom
      }
      let left = buttonDOMRect.left
      if (left + popoverDOMRect.width > window.innerWidth) {
        left = left - popoverDOMRect.width + buttonDOMRect.width
      }
      // use style as classes may also changes other popovers
      popoverStyle = style + ' top: ' + top + 'px; left: ' + left + 'px;'
      clazz += ' sir-Popover-open'

      if (!modal) {
        window.addEventListener('click', close, { once: true })
        window.addEventListener('keydown', handle_keydown)
      }
    } else {
      close()
    }
  }
</script>

<style>
	.sir-Popover {
		background: var(--red-ui-primary-background);
		position: fixed;
		display:inline-flex;
		flex-direction: column;
    z-index: 999;
		border: 1px solid var(--red-ui-primary-border-color);
		border-radius: 3px;
	}
  
	.modal-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    z-index: 900;
    cursor: default;
	}
  :global(.sir-Popover .sir-Input-Container, .sir-Popover .sir-Button-Container) {
    padding: 3px;
  }
  :global(.sir-Popover .sir-Input-Container input) {
    width: auto;
  }
  :global(.sir-Popover .sir-Input-Container input[type="color"]) {
    min-width: 30px;
    margin-right: 7px;
  }
  :global(.sir-Popover-open > button) {
    z-index: 999;
  }
</style>

{#if button}
  <Button inline {icon} style="position: sticky;" id={"sir-PopoverButton_" + id} clazz="{clazz} sir-PopoverButton" {small} {disabled} {label} {tooltip} 
    on:click={() => togglePopover()} on:click
  />
{/if}
{#if showPopover}  
  {#if modal}
    <div class="modal-background" on:click|capture|preventDefault|stopPropagation={close} on:keydown|capture|preventDefault|stopPropagation={close}></div>
  {/if}
  <div id={"sir-Popover_" + id} style={popoverStyle} class="{clazz} sir-Popover" on:click|stopPropagation on:keypress|stopPropagation on:keydown|stopPropagation in:fade="{{ duration: 400 }}" >
    <slot/>
  </div>
{/if}