<script>
  import { getId } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js'
  import { onMount } from 'svelte'
  export let active, clazz='', i18n, id, node, style = '', tabs = {}
  id = id || getId()
  if (Array.isArray(tabs) || typeof tabs !== 'object' || !Object.keys(tabs).length) {
    tabs = { '0': 'No (valid) tabs defined' }
  }
  // lets keep the tabs property as an Object to ensure for the user that each key name only exists one time. Intern we can handle it as an array.
  let shadowTabs = []
  let tabWidth = 0
  const updateTabs = () => {
    shadowTabs = []
    Object.keys(tabs).forEach( tabKey => {
      if (typeof tabs[tabKey] === 'string') {
        // downward compatible
        shadowTabs.push({
          id: tabKey,
          name: i18nTranslate(RED, node, i18n, tabs[tabKey])
        })
      } else {
        const tabClone = Object.assign({}, tabs[tabKey])
        tabClone.id = tabClone.id || tabKey
        tabClone.name = i18nTranslate(RED, node, i18n, tabClone.name)
        shadowTabs.push(tabClone)
      }
    })
    // tabWidth = (100 / shadowTabs.length) + '%'
    tabWidth = 'calc(' + (100 / shadowTabs.length) + '% - 6px);'
  }

  const showTabContent = (tabKey) => {
    const tabsContent = document.getElementById('tabs-content-' + id).querySelectorAll('div.sir-Tab')
    tabsContent.forEach( tab => {
      tab.style.display = 'none'
    })
    // class is unique here...
    const content = document.getElementById('tabs-content-' + id).getElementsByClassName('tab-' + tabKey)[0]
    if (content) {
      content.style.display = 'block'
    } else {
      console.log('[sir] No valid content found for tab key ' + tabKey)
    }
    active = tabKey
  }
  $: updateTabs(tabs)


  // Button left and right for scrolling!
  let overflowIntervall
  let showScrollButton = false
  const checkOverflow = (_e, once = false) => {
    let counter = 0
    overflowIntervall = setInterval( function () {
      counter++
      const tabsElement = document.getElementById('tabs-' + id)
      if (!tabsElement?.scrollWidth) stopCheckOverflow()
      if (tabsElement.scrollWidth > tabsElement.clientWidth && document.getElementById('tabs-' + id).children[0].clientWidth < 100) {
        showScrollButton = true
      } else {
        showScrollButton = false
        document.getElementById('sir-TabedPane-' + id).scrollLeft = 0
      }
      // just in case...
      if (counter > 2000 || once) stopCheckOverflow()
    }, 100)
  }
  const stopCheckOverflow = () => {
    if (overflowIntervall) clearInterval(overflowIntervall)
  }

  const resizeHandle = document.getElementsByClassName('red-ui-tray-resize-handle ui-draggable-handle')[0]
  resizeHandle.addEventListener('mousedown', checkOverflow);
  resizeHandle.addEventListener('mouseup', stopCheckOverflow);		
 
  let scrollIntervall
  const doScroll = (amount) => {
    scrollIntervall = setInterval( function () {
      document.getElementById('sir-TabedPane-' + id).scrollLeft += amount
    }, 100)
  }
  const stopScroll = () => {
    if (scrollIntervall) clearInterval(scrollIntervall)
  }

  onMount( () => {
    active = active || shadowTabs[0].id
    showTabContent(active)
    checkOverflow(null, true)
  })
</script>

<style>
  .sir-TabedPane { 
    margin-bottom: 12px; 
    overflow: hidden;
  }
  .sir-TabedPane ul.sir-Tablist li {
    min-width: 80px;
  }
  .scrollButton {
    width: 20px;
    margin-top: 3px;
    position: absolute;
    z-index: 10;
    border: 1px solid var(--red-ui-primary-border-color);
    height: 30px;
    cursor: pointer;
    background: var(--red-ui-primary-background);
  }
  .scrollButton:hover {
    background: var(--red-ui-secondary-background-hover);
  }
  .scrollButtonLeft { left: 0px; }
  .scrollButtonRight {
    top: 0px;
    right: 0px; 
  }
  .hasScrollButtons { 
    margin-left: 21px;  
    margin-right: 22px;
  }
  .scrollButton i { 
    padding-left: 7px; 
    padding-top: 8px;
  }
  .sir-TabedPaneContainer { position: relative;}
</style>

<div class="{clazz} sir-TabedPaneContainer" {style}>
  {#if showScrollButton}
    <div id="tabs-{id}-scrollLeft" class="scrollButton scrollButtonLeft" 
      on:mouseover={() => doScroll(-20)} on:focus={() => doScroll(-20)}
      on:mouseout={stopScroll} on:blur={stopScroll}
    >
      <i class="fa fa-caret-left"/>
    </div>
  {/if}
  <div id="sir-TabedPane-{id}" class="sir-TabedPane red-ui-tabs" class:hasScrollButtons={showScrollButton} >
    <ul id="tabs-{id}" class="sir-Tablist" >
      {#each shadowTabs as {id, name, icon}, i (i) }  
        <li id="sir-Tabselection-{id}" class="red-ui-tab" class:active={active === id} style={"width: " + tabWidth} on:click on:keydown>
          <!-- ancor for node-red theme compatibility -->
          <a href={'#'} on:click={() => showTabContent(id)} class="red-ui-tab-label" title={name} draggable="false">
            {#if icon}
              <i class="red-ui-tab-icon fa fa-{icon}" />
            {/if}
            <span class="red-ui-text-bidi-aware" dir="">{name}</span>
            <span class="red-ui-tabs-fade"/>
            <span class="red-ui-tabs-badges"/>
          </a>
        </li>
      {/each}
    </ul>
  </div>
  {#if showScrollButton}
    <div id="tabs-{id}-scrollRight" class="scrollButton scrollButtonRight"
      on:mouseover={() => doScroll(20)} on:focus={() => doScroll(20)}
      on:mouseout={stopScroll} on:blur={stopScroll}
    >
      <i class="fa fa-caret-right"/>
    </div>
  {/if}
</div>
<div id="tabs-content-{id}">
  <slot></slot>
</div>