<script>
  import Button from "./Button.svelte"
  import Row from "./Row.svelte"
  import { createEventDispatcher } from "svelte"
  import { getId, getBooleanFrom } from "./utils/utils.js"
  import { i18nTranslate } from "./utils/i18n.js"
  export let clazz = '', disabled, fading=true, flexDirection, gap=true, i18n, icon, id, indented=false, inline, label, multiselect=false, node, options, prop, 
             style = '', type='button', value, small=false, showHeader=true
  
  multiselect = getBooleanFrom(multiselect)
  indented = getBooleanFrom(indented)
  gap = getBooleanFrom(gap) // gap will be made global from sir-Row
  id = id || getId(prop)

  if (flexDirection !== 'row' || flexDirection !== 'column') {
    flexDirection = "row"
    if (typeof inline !== "undefined") {
      inline = getBooleanFrom(inline)
    } else {
      inline = true
    }
    if (!inline || type === "radio") flexDirection = "column"
  }
  if (type === "radio") {
    multiselect = false
    // inline = false
  }

  // it is valid to set a string array as options
  const createOptions = (newOptions = []) => {
    newOptions.forEach((o,i) => {
      if (typeof o === "string") {
        newOptions[i] = { value: o, label: o}
      } else if (newOptions[i].label) {
        newOptions[i].label = i18nTranslate(RED, node, i18n, newOptions[i].label)
      } else if (newOptions[i].label !== false) {
        newOptions[i].label = newOptions[i].value
      }
    })
  }
  let _options = createOptions(options)
  

  const dispatch = createEventDispatcher()
  const updateNode = typeof node !== "undefined"
  value = (updateNode && node[prop]) || value
  
  let defaults = {}
  if (node) defaults = node._def.defaults

  icon = icon || defaults?.[prop]?.icon || ""
  if (label !== false) {
    label = label || defaults?.[prop]?.label || prop || ""
  }

  if (multiselect && !Array.isArray(value)) {
    if (typeof value !== undefined) {
      value = [value]
    } else {
      value = []
    }
  } else if (!multiselect && Array.isArray(value)) {
    value = value[0]
  }
  // button has no bind:group like input in svelte therefore we need a selected object
  // can't use Set as svelte doesn't react on property changed with set.has(value) and can't bind:selected with a function
  const selected = {}
  options.forEach(o => selected[o.value] = false)
  // check if value is in options (e.g. value is stated with default value like '', an value that does not exist in the group or nothing is selected)
  const addToSelectIfValid = (v) => {
    const isValidInput = options.find(o => o.value === v)
    if (isValidInput) selected[v] = true
  }
  if (multiselect) {
    value.forEach(v => addToSelectIfValid(v))
  } else {
    addToSelectIfValid(value)
  }
  // only for button: clear selection if neccessary and set new value
  const handleSelection = (i) => {
    if (!multiselect) {
      options.forEach(o => selected[o.value] = false)
      value = "" 
    } else {
      value = []
    }
    selected[options[i].value] = !selected[options[i].value]
    
    for (const [key, isSelected] of Object.entries(selected)) {
      if (isSelected) {
        if (multiselect) value.push(key)
        else value = key
      }
    }
  }
  let init = true
  let oldValue = JSON.stringify(value) // multiselect / groups can trigger once again after init. check if value has really changed
  $: {
    if (updateNode) {
      node[prop] = value
    }
    if (!init && JSON.stringify(value) !== oldValue) {
      oldValue = JSON.stringify(value)
      dispatch((type === "button" ? "click" : "change"), { value }, { cancelable: false })
    }
    init = false
  }
  $: _options = createOptions(options)
</script>

<style>
  .toggleColumn { margin-bottom: 12px;}
  .content { 
    display: flex;
    align-items: flex-start;
   }
  .content * {
    /* disable click text selection */
    user-select: none; /* Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */ 
  }
  :global(.content.indented) {
    margin-left: 112px;
  }
  :global(.content .toggleColumn input) {
    margin-right: 6px;
    margin-top: 0px;
  }
  :global(.content .toggleColumn:last-of-type) {
    margin-bottom: 0px;
  }
  :global(.sir-Toggle-Group .content .sir-Button-Container) { 
    margin-right: 7px;
  }
  :global(.sir-Toggle-Group .content.no-gap .sir-Button-Container) {
    margin-right: 0px;
  }
  :global(.sir-Toggle-Group .content.no-gap .sir-Button-Container button) {
    border-radius: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  :global(.sir-Toggle-Group .content.no-gap .sir-Button-Container:first-of-type button) {
    border-left-width: 1px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  :global(.sir-Toggle-Group .content.no-gap .sir-Button-Container:last-of-type button) {
    border-right-width: 1px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }
  .header { 
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6px;
  }
  label {
    width: auto;
    min-width: 105px;
  }
  :global([id^='sir-Toggle-Group-'].sir-Row.sir-Toggle-Group) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>

<Row id="sir-Toggle-Group-{id}" clazz={"sir-Toggle-Group " + clazz} {style} {fading}>
  {#if showHeader}
    <div class="header">
      {#if label}
        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label>
          {#if icon}<i class="fa fa-{icon}"/>{/if}
          {label}
        </label>
      {/if}
      <slot name="header"/>
    </div>
  {/if}
  <div class="content" class:no-gap={!gap} class:indented style="flex-direction: {flexDirection};">
    {#each options as o, index}
      {#if type ==="button"}
        <Button inline id="sir-Toggle-button-{id}-{index}" icon={o.icon} label={o.label} value={o.value} tooltip={o.tooltip + ' | ' + disabled} {small} selected={selected[o.value]} {disabled} on:click={() => handleSelection(index)}></Button> 
      <!-- Separating from Input.svelte to avoid conflicts -->
      {:else if type === "checkbox"}
        <div class="toggleColumn">
          <input on:mouseenter on:mouseleave type="checkbox" id="node-input-{id}-{index}" {disabled} checked={selected[o.value]} bind:group={value} name={id} value={o.value}>
          <label on:mouseenter on:mouseleave for="node-input-{id}-{index}" style="width: auto">{#if o.icon}<i class="fa fa-{o.icon}"></i>{/if} {o.label}</label>
        </div>
      {:else if type === "radio"}
        <div class="toggleColumn">
          <input on:mouseenter on:mouseleave type="radio" id="node-input-{id}-{index}" {disabled} bind:group={value} name={id} value={o.value}>
          <label on:mouseenter on:mouseleave for="node-input-{id}-{index}" style="width: auto">{#if o.icon}<i class="fa fa-{o.icon}"></i>{/if} {o.label}</label>
        </div>
      {:else}
        <div>Invalid type stated!</div>
      {/if}
    {/each}
  </div>
</Row>
