<script>
  import Row from './Row.svelte'
  import PlainTypedInput from './PlainTypedInput.svelte'
  import { getBooleanFrom, getId } from './utils/utils.js'

  export let clazz = '', disabled=false, error=false, fading=true, i18n, icon, id, indented=false, inline=false, label, maximize=true, node, placeholder, prop, style = '', tooltip, type, typeProp, types, value

  id = id || getId(prop)
  inline = getBooleanFrom(inline)
  disabled = getBooleanFrom(disabled)
  indented = getBooleanFrom(indented)
  maximize = getBooleanFrom(maximize)

  clazz += ` sir-TypedInput-Container ${maximize ? ' maximize' : '' }`
</script>

<style>
  :global(.sir-TypedInput-Container.maximize) {
    width: 100%;
  }
  :global(.sir-TypedInput-Container) {
    display: inline-flex;
    align-items: center;
  }
</style>

<Row id="sir-TypedInput-Container-{id}" {clazz} {inline} {fading} {style} >
    <PlainTypedInput bind:node bind:prop bind:typeProp bind:value bind:type bind:types {placeholder} {icon} {error} bind:label {maximize} {id} {i18n} {indented} bind:disabled bind:tooltip on:click on:change on:mouseenter on:mouseleave on:click on:focus on:blur />
</Row>
