<script context='module'>
  RED.nodes.registerType('second-node', {
		category: 'common',
		defaults: {
			name: { value: '', label: 'Name' },
			checkbox: { value: false, label: 'Checkbox' },
      color: { value: '#ff3e00', label: 'Color'},
			number: { value: 0, label: 'Number'  },
			password: {value: '', label: 'Password' },
			typedInput: {value: '', label: 'TypedInput', validate: RED.validators.typedInput("contentType") },
			contentType: { value: 'str', types: ['str', 'num', 'bool', 'json'] },
      checkbox2: { value: false, label: 'Checkbox2' },
      checkbox3: { value: false, label: 'Checkbox3' },
      checkbox4: { value: false, label: 'Checkbox4' },
      checkbox5: { value: false, label: 'Checkbox5' },
      textarea: { value: '', label: 'Textarea'},
      select: { value: '', label: 'Select'},
      nestedTypedInputValue: { 
        value: {
          firstValue: '{ "test": "pending" }',
          firstValueType: 'json'
        }
      }
		},
		inputs: 0,
		outputs: 0,
		color: '#CEC0DE',
		label: function() {
			if (this.name) {
				return this.name;
			} else {
				return 'Ignore me';
			}
		},
		icon: 'font-awesome/fa-tag',
		oneditprepare: function () {
			render(this)
		},
		oneditsave: function () {
			update(this)
		},
		oneditcancel: function () {
			revert(this)
		}
	})
  
</script>
<script>
	export let node
	import { Table, Row, Input, EditableList, Group, MenuEntry, Popover, Collapsible, Button, Select, TabbedPane, TabContent, Textarea, TypedInput } from '../components'

	let showPopover = false
  const popoverFewEntries = []
  const popoverManyEntries = []
  for (let i = 0; i < 5; i++) {
    popoverFewEntries.push('Entry ' + i)
  }
  for (let i = 5; i < 70; i++) {
    popoverManyEntries.push('Entry ' + i)
  }

  let headerX = ['This table', 'will', 'not be', 'saved']
  let rowsX = [
    ['hello', 'world', 'this is', 'my first row'], 
    ['hello', 'world', 'this is', 'my second row'], 
    ['hello', 'world', 'this is', 'my third row'], 
    ['hello', 'world', 'this is', 'my fourth row']
  ]

  const afterEdit = (e) => {
    console.log('afterEdit', e.detail)
  }
  let hide = false
  let showLabel = 'hide'
  let showIcon = 'eye-slash'
  const showOrHide = () => {
    hide = !hide
    showLabel = hide ? 'show' : 'hide'
    showIcon = hide ? 'eye' : 'eye-slash'
  }

  const closePopover = async () => { 
    showPopover = false 
  }

  let myInputVal = 'X'

  $: manuellInputError = (myInputVal.startsWith('a'))
  $: manuellTextAreaError = (node.textarea === 'a')
  $: manuellSelectError = (node.select === '3')
</script>

<style>
	h1 {
		color: #8C101C;
	}
</style>

<h1>I said: 'Ignore me'. -_- I am here for experimental things</h1>

{#if !hide}
  <Input bind:node prop='name' placeholder="Changes number to 8 if aaa" on:change={(e) => {
    if (node.name === "aaa") {
      node.number = 8
    } else if (node.name === 'aab') {
      node.select = "2"
    } else if (node.name === 'aac') {
      node.textarea = 'this is from node.name'
    }
  }}
  />

  <Input bind:node type='checkbox' prop='checkbox' />
  <Input bind:node type='number' prop='number' tooltip={"This tooltip shows the selected color below: " + node.color}/>
  <Input bind:node type='password' prop='password' />
  <Input bind:node type='color' prop='color' />
  <TypedInput  {node} prop='typedInput' typeProp='contentType' />
  <TypedInput id="mysteriousId[]" label="Nested value" value={node.nestedTypedInputValue.firstValue} type={node.nestedTypedInputValue.firstValueType} types={['str', 'json', 'jsonata']}
    on:change={(e) => {
      console.log('typedInput', e.detail)
      node.nestedTypedInputValue.firstValue = e.detail.value
      node.nestedTypedInputValue.firstValueType = e.detail.type
    }} 
  />
  <Input label='No a at start' bind:value={myInputVal} bind:error={manuellInputError} />

  <Table bind:header={headerX} bind:rows={rowsX} maximize={true} editable={true}
    on:afterAddRow={(event) => console.log(event.detail)} 
    on:beforeEditTable={(event) => event.detail.header[1] = "header 2"}
    on:afterEditTable={(e) => afterEdit(e)}
  >
  </Table>


  <Input bind:node type='checkbox' prop='checkbox2' label="Changes name to 'aaa'" on:change={ () => {
      node.name = "aaa"
    }}
  />
  <Input bind:node type='checkbox' prop='checkbox3' bind:disabled={node.checkbox5} />
  <Input bind:node type='checkbox' prop='checkbox4' on:change={ () => node.checkbox5 = node.checkbox4 }/>
  <Input bind:node type='checkbox' prop='checkbox5' />

  <Textarea bind:node prop='textarea' bind:error={manuellTextAreaError} on:change={() => {
      node.name = node.textarea
    }}
  />
  <Select bind:node prop='select' on:change={() => node.name === 'asdf'} bind:error={manuellSelectError}  >
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </Select>

{/if}

<Button label={showLabel} icon={showIcon} on:click={showOrHide}/>

<div> This is experimental!</div>
<Popover label={showPopover ? "Close Menu" : "Open Menu"} bind:showPopover={showPopover}>
  <MenuEntry expandable title="Header 1">
    <MenuEntry expandable title="Header 2">
      <Button inline on:click={closePopover} label="Close Popover Menu"/>
      <MenuEntry on:click={ () => closePopover().then(() => alert('you clicked manuell entry 1')) }>Manuell entry 1</MenuEntry>
      <MenuEntry on:click={ () => closePopover().then(() => alert('you clicked manuell entry 6')) }>Manuell entry 2</MenuEntry>
        <MenuEntry expandable title="Header 3" maxHeight=300>
          {#each popoverManyEntries as entry}
            <MenuEntry on:click={ () => closePopover().then(() => alert('you clicked ' + entry)) }>{entry}</MenuEntry>
          {/each}
      </MenuEntry>
    </MenuEntry>
      <MenuEntry  on:click={ () => closePopover().then(() => alert('you clicked manuell entry 7')) }>Manuell entry 7</MenuEntry>
  </MenuEntry>
  {#each popoverFewEntries as entry}
    <MenuEntry on:click={ () => closePopover().then(() => alert('you clicked ' + entry)) }>{entry}</MenuEntry>
  {/each}
  <Input inline placeholder="I am a dummy input field"/>
</Popover>