<p>This is a test node to show the capabilities of SIR.</p>

<h3>Outputs</h3>
    <dl class="message-properties">
        <dt>payload
            <span class="property-type">string | buffer</span>
        </dt>
    </dl>

<h3>Details</h3>
    <p>To learn more about the template format of SIR, read the source code of this node's template. It is documented. ;)</p>